<!-- Preloader -->
<div id="tt-preloader">
    <div id="pre-status">
        <div class="preload-placeholder"></div>
    </div>
</div>

<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2"
         ng-style="data.header.background && {'background-image':'url('+ data.header.background + ')'}">
    <div class="intro">

        <div class="intro-sub">{{data.header.name}}</div>
        <h1>{{data.header.profession_left}}<span> {{data.header.profession_right}}</span></h1>
        <p>
            {{data.header.credo}}
        </p>
    </div>

    <div class="mouse-icon">
        <div class="wheel"></div>
    </div>
</section><!-- End Home Section -->
<!-- Navigation -->
<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Домой</a></li>
                    <li><a href="#about">Обо мне</a></li>
                    <li><a href="#works">Работы</a></li>
                </ul>
            </div>
        </div><!-- .container -->
    </nav>
</header><!-- End Navigation -->

<!-- About Section -->
<section id="about" class="about-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Обо мне</h2>

        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <div class="biography">
                    <div class="myphoto">
                        <img src="{{data.about_me.photo}}"
                             alt="">
                    </div>
                    <ul>
                        <li ng-repeat="target in data.about_me.information"><strong>{{target.key}}:</strong> {{target.value}}</li>
                    </ul>
                </div>
            </div> <!-- col-md-4 -->

            <div class="col-md-8 col-md-pull-4">
                <div class="short-info wow fadeInUp" ng-repeat="description in data.about_me.descrioption">
                    <h3>{{description.title}}</h3>
                    <p>{{description.text}}</p>
                </div>

                <div class="short-info wow fadeInUp">
                    <ul class="list-check">
                        <li ng-repeat="star in data.about_me.stars">{{star.title}}</li>
                    </ul>
                </div>
            </div>


        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section><!-- End About Section -->

<!-- Facts Section -->
<section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50"
         data-stellar-background-ratio="0.2">
    <div class="tt-overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="count-wrap">
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-flask"></i>
                            <h3 class="timer">7</h3>
                            <p>Years of Experience</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-thumbs-up"></i>
                            <h3 class="timer">651</h3>
                            <p>Projects Done</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-users"></i>
                            <h3 class="timer">251</h3>
                            <p>Happy Clients</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <i class="fa fa-trophy"></i>
                            <h3 class="timer">5</h3>
                            <p>Awards Won</p>
                        </div>
                    </div><!-- /count-wrap -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</section> <!-- End Facts Section -->

<!-- Works Section -->
<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Работы</h2>

        <ul class="list-inline" id="filter">
            <li><a class="active" data-group="all">All</a></li>
            <li><a data-group="design">Design</a></li>
            <li><a data-group="web">Web</a></li>
            <li><a data-group="interface">Interface</a></li>
            <li><a data-group="identety">Identity</a></li>
        </ul>

        <div class="row">
            <div id="grid">
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3">
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="http://www.salon-vaskevich.ru/wp-content/uploads/2014/05/9f449f0908.jpg"><i
                                        class="fa fa-search-plus"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div><!-- /.links -->
                            <img src="http://www.neshama.com.ua/images/image/Valeri.jpg" alt="image">
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
            </div><!-- /#grid -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- End Works Section -->

<!-- Footer Section -->
<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p>&copy; TrendyTheme 2015. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer Section -->

<!-- Scroll-up -->
<div class="scroll-up">
    <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>